
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<!--//webfonts-->
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>上海市出租车分析</h1>


			<h1>轨迹图</h1>
			<img src="/static/images/all_cars.gif" width="400" height="300">

			<h1>平均等待时间</h1>
			<img src="/static/images/average_waiting_time_curve.png" width="400" height="300">

			<!-----start-copyright---->

				<!-----//end-copyright-

	
</body>
</html>