<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<!--//webfonts-->
</head>
<body>
	<div class="main">
		<div class="header" >
			<h1>上海出租车数据分析</h1>
		</div>
		<p></p>
			<form action="i2o" method="post">
				{% csrf_token %}
				<ul class="left-form">


					<h2>车辆id:</h2>

					<li>

						<input type="text"   placeholder="出租车ID" name="id" required/>
						<div class="clear"> </div>

					</li>

					<input type="submit"  value="确认">

					<div class="clear"> </div>









				</ul>
				<ul class="right-form">

                    <h2>结果显示:</h2>

					<img src="/static/images/one_car.jpeg" width="400" height="300">


					<div class="clear"> </div>




				</ul>
				<div class="clear"> </div>

			</form>

		</div>
			<!-----start-copyright---->

				<!-----//end-copyright---->


</body>
</html>